doctype html
html
  head
    title FactorIA
    // build:css bundle.css
    // bower:css
    // endbower
    // inject:vendor:css
    // endinject
    // inject:css
    // endinject
    // endbuild
  body
    ui-view
    // build:js bundle.js
    // bower:js
    // endbower
    // inject:js
    // endinject
    // endbuild
